#pragma code_page(65001)
#include <windows.h>
#include "resource.h"

IDD_TASK_EDITOR DIALOGEX 0, 0, 272, 194
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "タスク編集"
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "基本設定", -1, 10, 10, 60, 10
    LTEXT           "単位", -1, 10, 28, 32, 10
    COMBOBOX        IDC_TASK_TYPE, 70, 26, 84, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "月", -1, 10, 52, 32, 10
    EDITTEXT        IDC_TASK_MONTH, 70, 50, 40, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "日", -1, 124, 52, 16, 10
    EDITTEXT        IDC_TASK_DAY, 144, 50, 40, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "時間", -1, 10, 76, 32, 10
    EDITTEXT        IDC_TASK_TIME, 70, 74, 72, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "内容", -1, 10, 104, 32, 10
    LTEXT           "カテゴリ", -1, 10, 122, 40, 10
    COMBOBOX        IDC_TASK_CATEGORY, 70, 118, 188, 120, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "タスク", -1, 10, 146, 32, 10
    EDITTEXT        IDC_TASK_TITLE, 70, 144, 188, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "通知", -1, 10, 170, 32, 10
    COMBOBOX        IDC_TASK_NOTIFY, 70, 168, 88, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "有効", IDC_TASK_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 174, 170, 40, 12

    DEFPUSHBUTTON   "保存", IDOK, 216, 168, 42, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 216, 10, 42, 14
END

IDD_POPUP DIALOGEX 0, 0, 248, 132
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リマインダー"
FONT 9, "Yu Gothic UI"
BEGIN
    CONTROL         "", IDC_POPUP_ICON, "Static", SS_ICON | WS_CHILD | WS_VISIBLE, 12, 10, 20, 20
    LTEXT           "", IDC_POPUP_TITLE, 38, 12, 190, 12
    LTEXT           "", IDC_POPUP_TEXT, 12, 36, 224, 44
    PUSHBUTTON      "完了", IDC_POPUP_COMPLETE, 12, 86, 42, 14
    PUSHBUTTON      "5分後", IDC_POPUP_SNOOZE5, 62, 86, 42, 14
    PUSHBUTTON      "10分後", IDC_POPUP_SNOOZE10, 112, 86, 46, 14
    PUSHBUTTON      "30分後", IDC_POPUP_SNOOZE30, 166, 86, 48, 14
    PUSHBUTTON      "閉じる", IDCANCEL, 96, 110, 56, 14
END
